@charset "UTF-8";

body{
    color: white;
    background-color: black;
    margin: 0px
}

header{
    border-bottom: solid 2px rgb(100,255,0);
    padding: 20px;
    font-size: 32px;
    color: rgb(111, 0, 255);

}